body {
	font-family: verdana;
	font-size: 14px;
}

.search_result_list {
	margin-left: 40%;
}

.search_result_item {
	padding: 10px;
	border: 1px solid;
	margin-bottom: 25px;
	width: 250px;
	text-align: center;
}
.search_result_item_title {
	margin-top: 10px;
	text-align: center;
}
.search_result_pagination {
	margin: 5px;
	width: 350px;
}
.search_result_pagination_current {
	text-decoration: none;
}

a:link {color:blue;}      /* unvisited link */
a:visited {color:blue;}  /* visited link */
a:hover {color:red;}  /* mouse over link */
a:active {color:red;}  /* selected link */ 

