body {
	font-family: verdana;
	font-size: 14px;
}

.search_result_list {
	margin-left: 30%;
}

.search_result_item {
	padding: 10px;
	border: 1px solid;
	margin-bottom: 25px;
	width: 250px;
	text-align: center;
}
.search_result_item_title {
	margin-top: 10px;
	text-align: center;
}
